<app-header [favouritesCount]="store.favouriteRecipes().length"></app-header>

@if(store.favouriteRecipes().length == 0) {
<mat-icon class="big-icon">sentiment_very_dissatisfied</mat-icon>
<p>You don't have any favorite recipes yet.</p>
<button mat-button color="primary" [routerLink]="['/']">
    <mat-icon>arrow_back</mat-icon>Go back
</button>
}
@else{
<p class="text-left"><strong>{{store.favouriteRecipes().length}}</strong> favourite recipes.</p>
<div class="favourites-list">
    @for(recipe of store.favouriteRecipes(); track recipe.id) {
    <recipe-card 
        [category]="recipe.category"
        [id]="recipe.id"
        [thumb]="recipe.thumb"
        [name]="recipe.name"
        (onDetailClick)="goToDetails($event)"
        >
    </recipe-card>
    }
</div>
}