<app-header [favouritesCount]="store.favouriteRecipes().length"></app-header>

@if(recipe$ | async; as recipe) {
    <div class="recipe-title">
        @if(store.searchQuery()){
        <button mat-icon-button [routerLink]="['/recipes', store.searchQuery()]">
            <mat-icon>arrow_back</mat-icon>
        </button>
        }
    
        <h2>{{recipe.name}}</h2>
    </div>
    
<mat-card>
    <div class="recipe-cover">
        <recipe-thumb class="cover-image" 
            [imgSrc]="recipe.thumb"
            [imgAlt]="recipe.name"
            [hasPriority]="true"
            [imageHeight]="350">
        </recipe-thumb>
        <div class="cover-info">
            <p>Category <strong>{{recipe.category}}, {{recipe.tags}}</strong><br>
            Origin <strong>{{recipe.area}}</strong></p>

            @if(recipe.youtube){
            <button mat-stroked-button color="info" (click)="onPlayTutorialClick(recipe)">
                <mat-icon>play_arrow</mat-icon>
                Video tutorial
            </button>
            }   
            @if(!store.isRecipeFavourite(recipe.id)){
                <button mat-flat-button color="info" (click)="onAddFavourite(recipe)">
                    <mat-icon>favorite</mat-icon>
                    Add to favourites
                </button>
            }@else {
                <button mat-stroked-button color="info" (click)="onRemoveFavourite(recipe)">
                    
                    <mat-icon>favorite_border</mat-icon>
                    Remove from favourites
                </button>
            }
        </div>
    </div>
    
</mat-card>
    
    <h3>Ingredients</h3>
    <ul>
        @for(ingredient of recipe.ingredients; track ingredient) {
            <li><strong>{{ingredient.name}}</strong> {{ingredient.measure}}</li>
        }
    </ul>

    <h3>Intructions</h3>
    <p [innerHTML]="recipe.instructions | recipeInstructions"></p>

    
}