<h1>
    <img src="/assets/logo.svg" width="41" height="43" alt="Recipe finder">
    <img width="285" height="62" alt="Recipe Finder" src="/assets/reciepe-finder.svg">    
</h1>
<p>
    Got some ingredients in the fridge or a dish in mind?<br>
    <strong>Type it here and discover what you can cook!</strong>
</p>
<search-recipe></search-recipe>
@if(store.favouriteRecipes().length > 0) {
    <div class="favourite-recipes">
        <p>Or you can check your </p>
    <button [routerLink]="['/favourites']" 
    mat-stroked-button color="primary">
        <mat-icon>favorite</mat-icon>favourite recipes
    </button>
    </div>
}

<p class="hint">This service is only available in English.</p>