
<mat-form-field>
    <input #input 
        matInput 
        (keydown.enter)="onSearchRecipe(input.value)"
        [formControl]="searchInput" 
        [matAutocomplete]="auto"
        matAutocompleteOrigin 
        [ngModel]="store.searchQuery()"
        >
    @if(store.loading()) {
    <mat-spinner matSuffix diameter="20"></mat-spinner>
    }
    @else {
    <mat-icon matPrefix fontIcon="search"></mat-icon>
    }

    <mat-autocomplete 
        #auto="matAutocomplete">
        @for (suggestedRecipes of suggestedRecipes$ | async; track suggestedRecipes.id) {
        <mat-option [value]="suggestedRecipes.name" 
            (onSelectionChange)="onSelectSuggestion(suggestedRecipes)"
            (click)="onSelectSuggestion(suggestedRecipes)"
            >{{suggestedRecipes.name}}</mat-option>
        }
    </mat-autocomplete>
</mat-form-field>