

<div class="app-header">
    <h1>
        <a class="mat-mdc-button .mdc-button" matRipple  [routerLink]="['/']">
            <img src="/assets/logo.svg" height="30" alt="Recipe finder">
            <img height="36" alt="Recipe Finder" src="/assets/reciepe-finder.svg">    
        </a>
    </h1>
    <button [routerLink]="['/favourites']" 
        mat-button color="primary">
        <mat-icon>favorite</mat-icon>favourites
    </button>
</div>

@if(recipes$ | async; as recipes) {
    @if(recipes.length == 0) {
        <p>No recipes found</p>
    } @else {
        @if(store.loading()) {
            <mat-spinner matSuffix diameter="20"></mat-spinner>
            }
        <p>{{recipes.length}} recipes found</p>
        @for (recipe of (recipes$ | async); track recipe.id) {
            <mat-card>
                <strong>{{recipe.name}}</strong>
                <p matLine>Category: {{recipe.category}}</p>
                <recipe-thumb [recipe]="recipe"></recipe-thumb>
                <button mat-button color="info" [routerLink]="['/recipe', recipe.id]">
                    Details
                    
                </button>
            </mat-card>
            }
    }
    
}


