/*vars*/
$rf-green: #88BA35;
$rf-md: 577px;
$rf-lg: 1000px;

:root {
    --rf-surface-green:#{$rf-green};
}
/*end vars*/

/*mediaquery*/
@media (max-width: $rf-md) { // sm breakpoint
    .app{
        width: calc(100vw - 10%);
    }
    
}

@media (min-width: $rf-md) and (max-width: $rf-lg) { // md breakpoint
    .app{
        width: calc(100vw - 20%);
    }
}

@media (min-width: $rf-lg) { // lg breakpoint
    .app{
        width: 100vw;
    }
}
/*end mediaquery*/

/*generals*/
html, body { height: 100%; }
body { 
    margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; 
    font-size: 18px;
    line-height: 2rem;
    > *{
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
h1, h2, h3, h4, h5, h6 {
    display: flex;
}
h1 {
    align-items: flex-start;
    gap: 1rem;
    * {
        display: flex;
    }
}
h3{
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--mat-sys-primary);
    margin-bottom: 0;
}

.tag{
    padding: 0 .5rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    font-size: .8rem;
    font-weight: bold;
    color: var(--mat-sys-surface-container-lowest);
    background-color: var(--rf-surface-green);
}
.hint{
    font-size: .8rem;
}
.text-left{
    text-align: left;
}
/*end generals*/

/*app styles*/
.app{
    display: flex;
    flex-direction: column;
    height: 100vh;
    text-align: center;
    margin: 1rem;
    max-width: $rf-lg;
    .app-header{
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: sticky;
        top: 0;
        z-index: 1000;
        background-color: var(--mat-sys-surface-container-lowest);
        margin: 0 -1rem 1.5rem -1rem;
        padding: 0 1rem 0 1rem;
    
        h1 {
    
            > a {
                display: flex;
                gap: 1rem;
                padding-top: .5rem;
                border: 1px solid transparent;
                &:hover{
                    border:1px solid var(--mat-sys-primary);
                }
                * {
                    display: flex;
                }
            }
        }
    }
}
/*end app styles*/



/* MATERIAL OVERRIDES */
@mixin rf-border-box {
    border:1px solid var(--mat-sys-outline-variant) !important;
    background-color: var(--mat-sys-surface-container-lowest) !important;
    box-shadow: 0px 0px 12px 5px rgba(186,0,92,0.13) !important;
  }
.mat-icon.big-icon{
    font-size: 3rem;
    width: 3rem;
    height: 3rem;
}
div.mat-mdc-autocomplete-panel{
    background-color: var(--mat-sys-surface-container-lowest) !important;
}
.mat-mdc-form-field{
    width: 100%;
}
.mdc-text-field--filled{
    border-radius: 1rem !important;
    @include rf-border-box;
    .mdc-line-ripple::before{
        border: none;
    }
}
.mat-mdc-card{
    overflow: hidden;
    @include rf-border-box;
}


/* END MATERIAL OVERRIDES */